#no-user-add-spot-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
}


#add-spot-container{
    padding-top: 120px;
    max-width: 800px;
    margin: auto;
}
