

.spots-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3% 2%;
    width: 90%;
    margin: auto;
    padding-top: 120px;
  }

.card {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0% 0%;
    grid-template-areas:
      "picture picture"
      "text-left text-right";
    width: 100%;
  }
.spot-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.card-image-container{
    grid-area: picture;
}

.card-city-state-price {
    grid-area: text-left;
}

#card-city-state {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
}
#card-price {
    font-size: small;

}
#card-price > span {
    font-weight: bold;
}

#card-reviews {
grid-area: text-right;
font-size: small;
text-align: end;
padding: 1%;

}

.card-image-container > img {
    height: 98%;
    width: 98%;
    object-fit: contain;
    border-radius: 8%;

}

@media (max-width: 1127px) {
    .spots-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3% 2%;
        width: 90%;
        margin: auto;
      }
}
@media (max-width: 949px) {
    .spots-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 3% 2%;
        width: 90%;
        margin: auto;
      }
}
@media (max-width: 549px) {
    .spots-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 3% 2%;
        width: 90%;
        margin: auto;
      }
}
@media (min-width: 1640px) {
    .spots-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
        gap: 3% 2%;
        width: 90%;
        margin: auto;
      }
}
@media (min-width: 1880px) {
    .spots-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
        gap: 3% 2%;
        width: 90%;
        margin: auto;
      }
}
