#login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;


}
#login-form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 3%;
}
#welcome-back{
    font-size: x-large;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}
